<div class="main-content">
  <div class="card">
    <div class="card-top">
      <%= image_tag("nike.png", class: "card-top-logo") %>
    </div>

    <div class="card-title">Our Products</div>

    <div class="card-body">
      <div class="shop-items">
        <% @shoes.each do |shoe| %>
          <div class="shop-item">
            <div 
              class="shop-item-image"
              style="background-color: <%= shoe.color %>;">
              <%= image_tag(shoe["image"]) %>
            </div>

            <div class="shop-item-name">
              <%= shoe.name %>
            </div>

            <div class="shop-item-description">
              <%= shoe.description %>
            </div>

            <div class="shop-item-bottom">
              <div class="shop-item-price">
                $<%= shoe.price %>
              </div>

              <div class="shop-item-button">
                <p>ADD TO CART</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-top">
      <%= image_tag("nike.png", class: "card-top-logo") %>
    </div>

    <div class="card-title">Our Products</div>

    <div class="cart-empty">
      <p class="cart-empty-text">
        Your cart is empty
      </p>
    </div>

    <div class="cart-items">

    </div>
  </div>
</div>
