<div class="main-content">
  <div class="card">
    <div class="card-top">
      <%= image_tag("nike.png", class: "card-top-logo") %>
    </div>

    <div class="card-title">Our Products</div>

    <div class="card-body">
      <div class="shop-items">
        <% @shoes.each do |shoe| %>
          <div class="shop-item">
            <div 
              class="shop-item-image"
              style="background-color: <%= shoe.color %>;">
              <%= image_tag(shoe.image) %>
            </div>

            <div class="shop-item-name">
              <%= shoe.name %>
            </div>

            <div class="shop-item-description">
              <%= shoe.description %>
            </div>

            <div class="shop-item-bottom">
              <div class="shop-item-price">
                $<%= shoe.price %>
              </div>

              <div id="turbo-button-item-<%= shoe.id %>">
                <% if shoe.selected? %>
                  <div class="shop-item-button inactive">
                    <div class="shop-item-button-cover">
                      <div class="shop-item-button-cover-check-icon"></div>
                    </div>
                  </div>
                <% else %>
                
                  <%= form_with url: "/add-order-to-cart", method: :post do |form| %>
                    <%= form.hidden_field :shoe_id, value: shoe.id  %>
                    <%= form.submit "ADD TO CART", class: "shop-item-button" %>
                  <% end %>
                <% end %>
              </div>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-top">
      <%= image_tag("nike.png", class: "card-top-logo") %>
    </div>

    <div class="card-title" id="total-amount">
      Your Cart
      <span class="card-title-amount">
        <%= number_to_currency(@amount) %>
      </span>
    </div>

    <div class="card-body" id="turbo-order-container">
      <% if @orders.empty? %>
        <div class="cart-empty">
          <p class="cart-empty-text">
            Your cart is empty
          </p>
        </div>
      <% else %>
        <div class="cart-items">
          <% @orders.each do |order| %>
            <div class="cart-item">
              <div class="cart-item-left">
                <div class="cart-item-image" style="background-color: <%= order.shoe.color %>;">
                  <div class="cart-item-image-block">
                    <%= image_tag(order.shoe.image) %>
                  </div>
                </div>
              </div>
              <div class="cart-item-right">
                <div class="cart-item-name">
                  <%= order.shoe.name %>
                </div>
                <div class="cart-item-price">
                  $<%= order.shoe.price %>
                </div>
                <div class="cart-item-actions">
                  <div class="cart-item-count">
                    <%= form_with url: "/decrease-order-quantity", method: :post do |form|%>
                      <%= form.hidden_field :order_id, value: order.id %>
                      <%= form.submit "-", class: "cart-item-count-button" %>
                    <% end %>

                    <div 
                      class="cart-item-count-number" 
                      id="order-quantity-<%= order.id %>">
                      <%= order.quantity %>
                    </div>

                    <%= form_with url: "/increase-order-quantity", method: :post do |form|%>
                      <%= form.hidden_field :order_id, value: order.id %>
                      <%= form.submit "+", class: "cart-item-count-button" %>
                    <% end %>
                  </div>

                  <%= form_with url: "/remove-order-from-cart", method: :delete do |form| %>
                    <%= form.hidden_field :shoe_id, value: order.shoe.id  %>
                    <div class="cart-item-remove">
                      <%= image_submit_tag("trash.png", class: "cart-item-remove-icon") %>
                    </div>
                  <% end %>
                  
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
